<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/javascripts/scripts.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <title>Vacant Properties</title>
</head>
<body>

  <% if session[:current_user] %>

    <form action="/">
      <button type="submit">MainPage</button>
    </form>

    <form action="/profiles">
      <button type="submit">Your Profile</button>
    </form>

    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete" />
      <button type="submit">Log Out</button>
    </form>

  <% else %>

    <a href="/users/new">Join?</a>
    <a href="/sessions/new">Log In?</a>

  <% end %>

  <%= yield %>

</body>
</html>